name: post ci

on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed

jobs:
  post:
    runs-on: ubuntu-latest
    
    permissions:
      contents: write
      pull-requests: write
      
    env:
      GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
      
    steps:

      - uses: actions/checkout@v6.0.1
        with:
          ref: ${{ github.event.workflow_run.head_sha }}

      - name: install dependencies
        run: npm install

      - name: run test
        run: npm test
        

      - name: Update status
        run: |
          chmod +x ci.sh
          ./ci.sh
